.btn{
	transition: 0.3s ease;
}

.paddingO {
	padding: 0px;
}

.slaider, .slaiderRight {
	margin-bottom: 20px;
}

.carousel-caption{
	background:rgba(255,255,255,0.2);
	width: 100%;
	left:0%;
	right:0%;
}

.contentHidden {
	max-height: 180px;
	overflow: hidden;
	margin-bottom: 20px;
}

.contentHidden p {
	font-size: 16px;
	line-height: 20px;
}

.footer {
	background-color: #101010;
	padding: 20px 0 10px;
}

.footer p {
	font-size: 14px;
	line-height: 30px;
}

.fa-twitter {
	color: #1DA1F2;
}

.fa-facebook-official {
	color: #3b5998;
}

.fa-vk {
	color: white;
}

.group {
	margin-top: 7px;
}

.tab_text{
	padding:15px 0 0 0;
}

.autor {
	color: #9d9d9d;
}