

.paddingO {
	padding: 0px;
}

.slaider, .slaiderRight {
	margin-bottom: 20px;
}

.item:first-child p, .item:first-child h3 {
	color: red;
}

.item:nth-child(2) p, .item:nth-child(2) h3 {
	color: cyan;
}

.item:nth-child(3) p, .item:nth-child(3) h3 {
	color: orange;
}

.item:nth-child(4) p, .item:nth-child(4) h3 {
	color: lightgreen;
}

.item:last-child p, .item:last-child h3 {
	color: yellow;
}

.contentHidden {
	max-height: 180px;
	overflow: hidden;
	margin-bottom: 20px;
}

.contentHidden p {
	font-size: 16px;
	line-height: 20px;
}

.footer {
	background-color: #101010;
	padding: 20px 0 10px;
}

.footer p {
	font-size: 14px;
	line-height: 30px;
}

.fa-twitter {
	color: #1DA1F2;
}

.fa-facebook-official {
	color: #3b5998;
}

.fa-vk {
	color: white;
}

.group {
	margin-top: 7px;
}

.autor {
	color: #9d9d9d;
}